.msgDiv {
    background-color: rgb(90, 123, 42);
    font-size: 20px;
    position: fixed;
    /*float: left;*/
    top: 60px;
    left: 50%;
    transition: all 1s linear;
    padding: 5px;
    border-radius: 5px;
}
.msgDiv2 {
    /*background-color: rgba(189, 226, 207, 0.8);*/
    font-size: 18px;
    position: fixed;
    /*float: left;*/
    top: 30px;
    left: 50%;
    opacity: 0;
    transition: all 1s linear;
    padding: 5px;
    border-radius: 5px;
}

.btnLeft {
    margin-right: 15px;
    width: auto;
    padding: 0 10px;
    height: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: #ccc499;
    font-family: 'Microsoft YaHei UI', serif;
    font-weight: 400;
    position: relative;
    transition: all 0.3s;
    z-index: 1;
}

.btnLeft::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: #ccc499;
    z-index: -1;
    transition: all 0.3s;
}

.btnLeft:hover::after {
    width: 100%;
}

.btnLeft:hover {
    color: black;
}

.btnLeft:active:after {
    background: #b9b9b9;
}